$headerSecondaryColor: #CCC;
$blue: #3454d2;

$headerHeight: 50px;
$sidebarWidth: 250px;

.text-center { text-align: center; }
.text-right { text-align: right; }

.block-center { display: block; margin: 0 auto; }

.pull-left { float: left; }
.pull-right { float: right; }

@mixin clearfix {
	&:after
	{
		content: '';
		display: table;
		clear: both;
	}
}
