label
{
	display: block;

	input
	{
		display: block;
		width: 100%;

		padding: 5px 2px;
		margin-top: 5px;

		border: 1px solid lightgray;
		padding: 10px 8px;

		border-radius: 5px;
	}
}

.chosen-container
{
	width: 100% !important;
}

input[type="submit"]
{
	float: right;

	@include buttonBase;
}

.form
{
	padding: 10px;
}

.form-danger
{
	$background: rgb(253, 228, 228);
	$border-color: rgb(218, 150, 150);
	$border: 1px solid $border-color;

	background: $background;
	border: $border;

	h3
	{
		position: relative;

		color: WHITE;
		background: rgb(218, 150, 150);
		margin: 10px -20px;
		padding: 5px 25px;

		&:before, &:after
		{
			content: '';

			display: block;
			width: 0px;

			border: 20px solid transparent;

			position: absolute;
			top: 12px;

			z-index: -1;
		}

		&:before
		{
			border-right-color: #C08989;
			left: -20px;
		}

		&:after
		{
			border-left-color: #C08989;
			right: -20px;
		}
	}

	input[type="submit"]
	{
		color: white;
		background: $border-color;
		border: $border;
		border: none;
	}
}