header
{
	background: $darkGray;

	position: fixed;
	top: 0; left: 0;

	display: block;
	width: 100%;
	height: $headerHeight;
	line-height: $headerHeight;

	padding: 0 0 0 10px;

	@include clearfix;

	h1 { margin: 0; }

	nav
	{
		float: right;
	}

	.nav 
	{
		list-style-type: none;

		li
		{
			display: inline-block;
			line-height: $headerHeight;

			a
			{
				display: block;

				color: WHITE;
				text-decoration: none;

				padding: 0 10px;

				&.settings
				{
					padding: 0 25px;
				}

				&:hover
				{
					color: $orange;
					background: darken($darkGray, 20);
				}
			}
		}
	}

	.logo
	{
		float: left;

		color: WHITE;
		text-decoration: none;

		&:hover
		{
			color: $orange;
		}
	}
}