section
{

	padding: 25px;

}

a[class^="home-"]
{
	display: block;
	color: black;

	&:not(.home-splash)
	{
		padding: 35px 0;
	}

	h2
	{
		-webkit-transition: all .3s linear;
	}

	&:hover
	{
		color: black;

		h2
		{
			color: $orange;
		}
	}
}

.home-intro:hover
{
	.home-badge
	{
		box-shadow: 0 0 0 10px WHITE,
					0 0 0 13px $orange;
	}
}

img.home-badge
{
	display: block;
	width: 50%;
	margin: 0 auto;

	background: $orange;

	padding: 40px;
	border-radius: 50%;

	-webkit-transition: all .5s linear;
}

.home-splash
{
	$backgroundIMG: url('../images/homeSplash.jpg');

	position: relative;

	height: 700px;

	background: $backgroundIMG;
	background-position: center;

	color: WHITE;
	
	margin-top: -20px;

	overflow: hidden;

	.splash-text
	{

		p
		{
			background: rgba(0, 0, 0, .2);
			padding: 10px 15px;

			box-shadow: inset 0 0 6px $darkGray;

			.btn
			{
				margin-top: 20px;
				width: 100%;

				text-align: center;
			}
		}

		position: absolute;
		bottom: 0;
		left: 0; right: 0;

		padding-right: 35px;

		line-height: 2em;
	}

	.btn
	{
		padding: 10px 15px;
		float: right;

		text-shadow: none;
	}
}

.splash-text
{
	padding-top: 35px; 
	padding-bottom: 35px;

	text-shadow: 0 0 2px $darkGray;
}