.module
{


	&.home-action
	{
		vertical-align: top;
		background: lightGray;

		border: 1px solid gray;
		padding: 0 10px;

		color: $darkGray;

		a{
			color: $darkGray;
			text-decoration: none;
			border-bottom: 1px dotted $darkGray;

			&:hover {border: none;}
		}
	}

}