.sidebar {
  position: fixed;
  top: 0;

  display: inline-block;
  width: 250px;
  height: 100%;
  overflow-y: scroll;

  margin-left: -250px;

  background: #363636;

  color: rgb(228, 228, 228);

  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

  a {
    font-size: .8em;
    color: rgb(228, 228, 228);
    text-decoration: none;
    text-transform: uppercase;

    display: block;
  }

  &.visible {
    margin-left: 0;
  }

  @include clearfix;

}
