.table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

    &.table-fixed {
        table-layout: fixed;
    }

    thead {
        border: $tableBorder;
        background: #E0E0E0;
        color: rgb(82, 82, 82);
        text-shadow: 0px 2px 3px #FFF;

        .btn {
            display: block;
        }
    }

    tbody {
        border: $tableBorder;

        tr {
            border-bottom: $tableBorder;
        }

    }

    td, th {
        padding: 10px 15px;
    }

    td {
        border-right: $tableBorder;
    }

    th {
        font-weight: 800;
    }
}
