table
{
	border-collapse: collapse;
}

td, th
{
	border: 1px solid $darkGray;
	padding: 0.5rem;
	text-align: left;
}

td
{
	padding: 15px 5px;
}

th
{
	background: $darkGray;
	color: $orange;

	&:not(:empty)
	{
		border-color: $whiteGray;
	}
}