<h2 class="title">Create New Profile</h2>

<form role="form" id="createNewProfileForm" method="POST" action="CreateNew">

	<div class="form-group">
		<label for="productName">Profile Name:</label>
		<input class="form-control" type="text" name="profileName" id="profileName" />
	</div>
	<br />
	<input type="submit" class="btn btn-primary" value="Create" />
</form>
