<div class="grid-row">
	<form class="grid-2-3" role="form" id="createNewProductForm" method="POST" action="/Products/CreateNew">

		{{#if profile}}
		{{else}}
		<p class="well">What type of Data Point are we creating?</p>
		<div class="form-group">
			<label for="profile">Data Profile</label>

			<!-- TODO: make this update #profileId value -->
			<select onchange="" class="chosen form-control" name="productType" id="productType">
				<option value="0">-- Select a Data Profile --</option>
				{{#each profiles}}
					<option value="{{_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		{{/if}}

		<label for="value">Data Point Value:</label>
		<input type="number" name="value" id="value" />
		<input type="submit" value="Add Data Point" />

		{{#if profile}}
		<input type="hidden" id="profileId" name="profileId" value="{{profile._id}}">
		{{/if}}
	</form>
</div>
