<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>GraphSnap - The Best Way to Keep Track of your Data</title>

	<script type="text/javascript" src="//use.typekit.net/cii4ukq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/landing.css" />

</head>
<body>

{{{body}}}



	<script type="text/javascript" src="js/landing.js"></script>

</body>
</html>