<form role="form" id="createNewProductForm" method="POST" action="CreateNew">
	
	<div class="form-group">
		<label for="productName">Product Type Name:</label>
		<input class="form-control" type="text" name="productName" id="productName" />
	</div>
	<br />
	<input type="submit" class="btn btn-primary" value="Create" />
</form>