<div class="grid">

	<h3>Attribution</h3>

	<ul class="attribution-list">
		<li>Iphone designed by Edward Boatman from the Noun Project</li>
		<li>Cloud designed by Dmitry Baranovskiy from the Noun Project</li>
	</ul>

	<p>
		<a href="/">&larr; Back</a>
	</p>

</div>