{{#if user }}

	{{#if notifications}}
	<div class="alert alert-danger">
		<strong>Urgent Notice!</strong>
		You have <a href="/Notifications">{{notifications.count}} urgent notice</a> to attend to
	</div>
	{{/if}}

	<section class="grid-row">

		<!-- Large Chart -->
		<div class="grid-4-5">
			<h1>Data Capture History</h1>
			<div id="" class="line-chart">
			</div>
		</div>

		<!-- Secondary splash data -->
		<div class="grid-1-5">
		</div>

	</section>

{{/if}}
