{{#if user }}

	{{#if notifications}}
	<div class="alert alert-danger">
		<strong>Urgent Notice!</strong>
		You have <a href="/Notifications">{{notifications.count}} urgent notice</a> to attend to
	</div>
	{{/if}}

	<section class="grid-row">

		<!-- Large Chart -->
		<div class="grid-4-5">
			<h1>Data Capture History</h1>
			<div id="" class="line-chart">
			</div>

			<script type="text/javascript">

			nv.addGraph(function() {

				$.ajax({
					type: 'GET',
					url: '/api/DataPoints',
					data: {
						token: "{{user.apiKey}}"
					},
					contentType: 'application/json',
					dataType: 'json',
					success: function(data){
						console.log("===========DATA==========");
						console.log(data);

						dataLoadedEventHandler(data);
					},
					error: dataLoadedErrorHandler,
					complete: function(jqxhr, textStatus){ return console.log(textStatus);}
				});

				var dataLoadedErrorHandler = function(jqXHR, textStatus, errorThrown) {
					console.log(textStatus);
				};

				var dataLoadedEventHandler = function(data){

					var cleanData = [],
						buffer = {};

					for (var i = 0; i < data.length; i++)
					{
						var DataPoint = data[i],
							profileName = DataPoint.profile.name;

						if (!buffer.hasOwnProperty(profileName))
							buffer[profileName] = [DataPoint];
						else
							buffer[profileName].push(DataPoint);
					}


					console.log(buffer);

					for (profile in buffer)
						cleanData.push(profile.length);

					console.log(cleanData);

					var canvas = d3.select('.line-chart')
								.append('svg')
								.attr('width', 500)
								.attr('height', 500);

					var bars = canvas.selectAll('rect')
								.data(cleanData)
								.enter()
									.append("rect")
									.attr("width", function(d){return d * 50})
									.attr("height", 50)
									.attr("y", function(d, i){ return i * 60});

				};
			});

			</script>
		</div>

		<!-- Secondary splash data -->
		<div class="grid-1-5">
		</div>

	</section>

{{/if}}
