{{#if user }}
		<div class="alert alert-danger">
		<strong>Urgent Notice!</strong>
		You have <a href="/notifications">one urgent notice</a> to attend to
	</div>

	<div class="media well">
		<h4>
			<i class="glyphicon glyphicon-stats"></i>
			<a href="forms/create/chart.php">Create Chart</a>
		</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, culpa deleniti officiis nulla ab tempore id dolorem voluptatibus quasi quae iusto dolore consectetur. Ratione, distinctio eveniet minima dolor. Aperiam, fugit?</p>
		<p>Also:
			<a href="#">Review Data</a>
		</p>
	</div>

	<div class="media well">
		<h4>
			<i class="glyphicon glyphicon-pencil"></i>
			<a href="#">Enter Data</a>
		</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, accusantium, porro explicabo tenetur illum saepe ipsum possimus officia sed aliquid mollitia quas eum dolorem atque illo ex autem reprehenderit sint.</p>
		<p>Also:
			<a href="#">Import Data</a>
		</p>
	</div>

	<div class="media well">
		<h4>
			<i class="glyphicon glyphicon-tree-deciduous"></i>
			<a href="/Products/CreateNew">New Product Instance</a>
		</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quas, rem ipsum culpa fugit cumque voluptatum delectus ea magni ab assumenda quaerat nobis error id dolorem explicabo autem fuga. Quidem.</p>
		<p>Also:
			<a href="/Products">Product Profiles</a>
		</p>
	</div>
	
	<a href="Products">Product Profiles</a> |
	<a href="users">Registered Users</a>
{{else }}

	<br />

	<div class="jumbotron">
		<h1>LIMS - Company Name</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, cupiditate, sunt saepe distinctio ab provident laudantium odio in blanditiis quas alias magnam quisquam aut consectetur molestiae quod recusandae optio repellendus!</p>

		<form role="form" method="POST" action="/login">
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<br />
			<button type="submit" class="btn btn-lg btn-default">Login</button>
			<a href="/register">Register</a>
			<a class="pull-right" href="#">Forgot Password?</a>
		</form>
	</div>
{{/if}}