<h1>Example App: Home</h1>

{{#if user }}
	{{#if user.name}}
		<h1>Hi there {{ user.name }}!</h1>
	{{else}}
		<h1>Welcome to LIMS!</h1>
		<p>Please <a href="/settings">click here</a> to finish setting up your account</p>
	{{/if}}
	
	<a href="logout">Logout</a> |
	<a href="products">Product Profiles</a> |
	<a href="users">Registered Users</a>
{{else }}
	<a href="login">Login</a>
	or
	<a href="register">Register</a>
{{/if}}