{{#if user }}
		<div class="alert alert-danger">
			<strong>Urgent Notice!</strong>
			You have <a href="/Notifications">one urgent notice</a> to attend to
		</div>

	<div class="grid-row">

		<div class="grid-1-3 module home-action">
			<h4>
				<i class="glyphicon glyphicon-stats"></i>
				<a href="/Chart/CreateNew">Create Chart</a>
			</h4>

			<p>Create beautiful charts using all of your data and our easy to use tools.</p>
			<p>Also:
				<a href="/Products">Review Data</a>
			</p>
		</div>

		<div class="grid-1-3 module home-action">
			<h4>
				<i class="glyphicon glyphicon-pencil"></i>
				<a href="/Products/CreateNew">Enter Data</a>
			</h4>

			<p>Enter in product data for existing profiles.</p>
			<p>Also:
				<a href="#">Import Data</a>
			</p>
		</div>

		<div class="grid-1-3 module home-action">
			<h4>
				<i class="glyphicon glyphicon-tree-deciduous"></i>
				<a href="/ProductType/CreateNew">New Data Profile</a>
			</h4>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, quas, rem ipsum culpa fugit cumque voluptatum delectus ea magni ab assumenda quaerat nobis error id dolorem explicabo autem fuga. Quidem.</p>
			<p>Also:
				<a href="/Products">Product Profiles</a>
			</p>
		</div>

	</div>
	
	{{#if user.isAdmin }}
	<strong>Admin Links: </strong>
	<a href="Products">Product Profiles</a> |
	<a href="users">Registered Users</a>
	{{/if}}
{{else }}

	<br />

	<div class="jumbotron">
		<h1>Login to GraphSnap</h1>
		<p>Take control of your manufacturing data with a simple, beautifully designed app that will speed up time to decision, eliminate manual record keeping​, and provide meaningful graphs, charts, and reports to help you manage your process.</p>

		<form role="form" method="POST" action="/login">
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<br />
			<button type="submit" class="btn btn-lg btn-default">Login</button>
			<a href="/register">Register</a>
			<a class="pull-right" href="#">Forgot Password?</a>
		</form>
	</div>
{{/if}}