<br />

<section class="home-splash grid">

	<div class="grid-3-4 splash-text">
		<h1>Welcome to GraphSnap</h1>
		<p>Take control of your manufacturing data with a simple, beautifully designed app that will speed up time to decision, eliminate manual record keeping​, and provide meaningful graphs, charts, and reports to help you manage your process.</p>
		<p>
			<a class="btn btn-orange" href="/register">Join the Beta!</a>
		</p>
	</div>

	<div class="grid-1-4">
		<form role="form" class="form form-login form-login-home" method="POST" action="/login">
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputEmail1">Email address
				<input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
				</label>
			</div>
			<div class="input-group input-group-lg" style="width: 100%;">
				<label for="exampleInputPassword1">Password
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</label>
			</div>
			<br />
			<button type="submit" class="btn btn-lg btn-default">Login</button>
			<a class="pull-right" href="#">Forgot Password?</a>
		</form>
	</div>
</section>

<section class="home-about grid">

	<h2>Take Control of Your Data!</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aliquid, explicabo, mollitia, fugit tempore quae officiis quod totam quis adipisci autem excepturi asperiores dolores ipsam non tenetur ipsa quas nesciunt!</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>

