<br />

<section id="home-splash" class="home-splash">

	<div class="grid width-50 splash-text">
		<h1 class="logo">
			<span>Welcome to </span>
			<img src="images/logo.png" style="vertical-align: middle;" />
			<small>a BioBacTrac Product</small>
		</h1>
		<h2>A Whole New Way to Experience Your Data</h2>

		<p>Take control of your manufacturing data with a simple, beautifully designed app that will speed up the time to decision, eliminate manual record keeping​, and provide meaningful graphs, charts, and reports to help you manage your process.  Get the information you need to make informed business decisions.</p>

		<a class="btn btn-orange" href="/register">Learn More!</a>
	</div>

</section>



	<div class="grid no-space">
		<form role="form" class="form form-login form-login-home" method="POST" action="/login">

			<div class="form-group pull-left">
				<div class="input-group input-group-lg">
					<label for="exampleInputEmail1">
					<input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="Email" required>
					</label>
				</div>

				<div class="input-group input-group-lg">
					<label for="exampleInputPassword1">
					<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					</label>
				</div>
			</div>
			
			<div class="input-group input-group-lg" style="text-align: right;">
				<button type="submit" onclick="valid.routeLogin()" class="btn btn-lg btn-default">Login</button>
				<a class="pull-right" href="#">Forgot Password?</a>
			</div>
		</form>
	</div>

<a href="#" class="home-intro width-75 grid">

	<div class="grid-row">

		<div class="grid-2-3">

			<h2>So Much Data, So Little Time</h2>

			<p>Does this sound familiar?  Your company sells multiple products to multiple customers, each with their own different set of specifications and requirements.  You send your product to the lab for testing and the lab sends back the results.  Someone has to compare all those lab results to the customers' specifications to make compliance decisions while product sits on the dock, waiting to ship.  It's a pretty tedious process, isn't it?</p>

			<p>Besides determining the compliance with customer specifications, your data can also tell you a lot about your process.  Are you listening to it?  If you're like millions of other people, the laboratory data ends up on a hard drive or left unanalyzed in your inbox.</p>
		</div>

		<div class="grid-1-3">
			<img class="" src="images/graph.png" alt="Mobile Friendly. Isn't that neat?">
		</div>
	</div>

</a>

<a class="home-plans width-75 grid">

	<h2>Our Solution</h2>

	<p>GraphSnap takes your data and presents it in a manner that is easy to understand and interpret.  Quickly import your data into GraphSnap and allow it to organize, trend, and graph it for you. Notifications alert you to any out-of-specification situations immediately after analysis.  Easily forward any alerts to decision makers for quick action.</p>

	<p>Statistical process control analysis alerts you when your process needs an adjustment to prevent it from becoming out of control.</p>

</a>

<a class="home- width-75 grid">

	<h2>Track, Trend, and Review Your Data</h2>

	<small>You paid for your data.  Get the most out of it!</small>  

	<p>You don’t need to be a statistician to find meaningful information from your data.  GraphSnap does all of the work for you.  Just import your data and set your specifications. GraphSnap creates statistical control charts such as x-bar charts, moving range charts, and custom charts based on user-defined limits.  Find problems before they find you!</p>

	<div class="grid-row">

		<div class="grid-1-3 condensed">
			<img src="images/screen.png">

			<h3>EASY TO USE</h3>

			<p>Beautifully simple to use. Simply beautiful to look at. 
			Never before has your data come to life like this.</p>
		</div>

		<div class="grid-1-3 condensed">
			<h3>ACCELERATE TIME TO DECISION</h3>

			<p>Product waits on the dock.  Trucks wait in the yard.  The laboratory’s results are in but you still have to look over everything to make sure it’s safe to ship.  Stop manually comparing your laboratory results to your customers' specifications.  GraphSnap will quickly evaluate the results and alert you to any issues. </p>
		</div>
		
		<div class="grid-1-3 condensed">
			<img src="images/cloudPowered.png">

			<h3>CLOUD POWER</h3>

			<p>Manage your data from anywhere with an internet connection.  No software to install or configure.  Just sign in and get to work.<p>
		</div>

	</div>

</a>

<a class="home-staff width-75 grid">

	<h2>A Little History</h2>

	<p>Founded in 2013, GraphSnap aims to close the gap between a customer’s laboratory provider and in-house quality/manufacturing process.  Our founders have years of experience in the commercial testing laboratory, food manufacturing, and software engineering industries.  We decided there was a better way to handle laboratory data, and so GraphSnap was born.</p>

</a>

<a class="home-contact width-75 grid">

	<h2>Get in Touch</h2>

	<div id="home-contactForm" class="grid-1-2 condensed">

		<p style="margin-top: -20px; padding-bottom: 20px;">Interested in trying our product? Let us know!</p>

		<label for="home-contactForm-email">Your Email 
		<input id="home-contactForm-email" name="fromEmail" type="email" placeholder="Email" required>
		</label>

		<label for="home-contactForm-message">Message
		<textarea id="home-contactForm-message" id="emailMessage" placeholder="Message" required></textarea>
		</label>

		<br />

		<button onclick="contact.sendMsg()" class="btn-orange">Contact Us</button>

	</div>

	<div class="grid-1-2 condensed">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95523.80666877479!2d-93.60651599999998!3d41.56666994999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee99a4c1611ee7%3A0x710028512691e4b2!2sDes+Moines%2C+IA!5e0!3m2!1sen!2sus!4v1393982183409" width="400" height="300" frameborder="0" style="border:0"></iframe>

	</div>

</a>

<footer class="width-50">

<p>
	Copyright Pending - A <a href="#">BioBacTrac</a> Product - with <a href="http://jordanforeman.com">Jordan Foreman</a>
</p>

<p>
	<a href="/attribution">Additional Attribution</a> -
	<a href="/register">Register</a> -
	<a href="/login">Login</a>
</p>

</footer>

<script>

var valid = function(){

	var _attemptCount = 0;

	var routeLogin = function(){
		_attemptCount++;
		
		if (_attemptCount > 1)
			route.login();
	};

	return {
		routeLogin : routeLogin
	};
}();

var route = function(){
	
	var login = function(){
		window.location = "/Login";
	};

	return {
		login : login
	};
}();

var contact = function(){

	var sendMsg = function(){
		var fromEmail = $("#home-contactForm-email").val(),
			message = $("#home-contactForm-message").val();


		$.ajax({
			type: "POST",
			url: "/Contact",
			data: {
				from: fromEmail,
				msg: message,
				success: function(data, textStatus, jqXHR){
					return console.log(data + " " + textStatus);
				},
				error: function(jqXHR, textStatus, errorThrown){
					return console.log(errorThrown + " " + textStatus);
				},
				dataType: "json"
			}
		});

		return false;
	};

	return {
		sendMsg : sendMsg
	};

}();

</script>
