<br />

<section id="home-splash" class="home-splash">

	<div class="grid width-50 splash-text">
		<h1 class="logo">
			<span>Welcome to </span>
			<img src="images/logo.png" style="vertical-align: middle;" />
			<small>a BioBacTrac Product</small>
		</h1>
		<p>See how happy this guy riding a bicycle is? Would you like to be that happy, but are too bogged down by hard to track and maintain data? Take control of your manufacturing data with a simple, beautifully designed app that will speed up time to decision, eliminate manual record keeping​, and provide meaningful graphs, charts, and reports to help you manage your process.
		<a class="btn btn-orange" href="/register">Learn More!</a>
		</p>
	</div>

</section>



	<div class="grid">
		<form role="form" class="form form-login form-login-home" method="POST" action="/login">

			<div class="input-group input-group-lg">
				<label for="exampleInputEmail1">
				<input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
				</label>
			</div>

			<div class="input-group input-group-lg">
				<label for="exampleInputPassword1">
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</label>
			</div>
			
			<div class="input-group input-group-lg">
				<button type="submit" class="btn btn-lg btn-default">Login</button>
				<a class="pull-right" href="#">Forgot Password?</a>
			</div>
		</form>
	</div>

<section class="home-about grid">

	<div class="grid-row">

		<div class="grid-2-3">
			<h2>Take Control of Your Data!</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, aliquid, explicabo, mollitia, fugit tempore quae officiis quod totam quis adipisci autem excepturi asperiores dolores ipsam non tenetur ipsa quas nesciunt!</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="grid-1-2">
			<img class="home-badge" src="images/mobile.png" alt="Mobile Friendly. Isn't that neat?">
		</div>
	</div>

</section>

<section class="home-responsive grid">
	
	<div class="1-3">

	</div>

	<div class="2-3">
		<h2>Your Data. Anytime. Anywhere.</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, eum, culpa itaque dolorum earum numquam delectus necessitatibus ducimus esse iste iusto hic alias mollitia illum explicabo molestias omnis autem quae.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, eaque doloribus fuga unde similique magni dolor veritatis repellat ut harum vel est asperiores adipisci et soluta itaque distinctio deleniti repellendus.</p>
	</div>

</section>

<section class="home-plans grid">
</section>

<footer class="width-50">

<p>
	Copyright Pending - A <a href="#">BioBacTrac</a> Product - with <a href="http://jordanforeman.com">Jordan Foreman</a>
</p>

<p>
	<a href="/attribution">Additional Attribution</a> -
	<a href="/register">Register</a> -
	<a href="/login">Login</a>
</p>

</footer>

