<br />

<div class="jumbotron">
	<h1>Login to GraphSnap</h1>
	<p>Take control of your manufacturing data with a simple, beautifully designed app that will speed up time to decision, eliminate manual record keeping​, and provide meaningful graphs, charts, and reports to help you manage your process.</p>

	<form role="form" method="POST" action="/login">
		<div class="input-group input-group-lg" style="width: 100%;">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
		</div>
		<div class="input-group input-group-lg" style="width: 100%;">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<br />
		<button type="submit" class="btn btn-lg btn-default">Login</button>
		<a href="/register">Register</a>
		<a class="pull-right" href="#">Forgot Password?</a>
	</form>
</div>