
	<h1>{{ title }}</h1>
	<form method="POST" action="register">

		<input type="text" id="name" name="name" placeholder="Full Name" />
		<input type="email" id="email" name="email" placeholder="Email" />
		<input type="password" id="password" name="password" placeholder="Password" />

		<input type="submit" value="Sign Up" />

		<div class="links">
			Already have an account?
			<a href="login">Sign In</a>
		</div>
	</form>
