<h1>Create a new Product</h1>
<form id="createNewProductForm" method="POST" action="createNew">
	<label for="productName">Product Name:
	<input type="text" name="productName" id="productName" />
	</label>
	<br />
	<input type="submit" value="Create" />
</form>