{{#if company}}

<h3 class="title">
	New {{company.name}} User
</h3>

<form class="form" method="POST" action="/register">

	<input type="hidden" name="companyId" value="{{company._id}}">

	<div class="form-group">
		<label for="name">Name: 
		<input type="text" id="name" name="name">
		</label>
	</div>

	<div class="form-group">
		<label for="email">Email: 
		<input type="email" id="email" name="email">
		</label>
	</div>

	<div class="form-group">
		<input type="submit" class="btn btn-lg" value="Submit">
	</div>

</form>

{{else}}
<!-- Redirect? -->
{{/if}}